# Ignore node_modules directory
node_modules/
dist/
# Ignore build artifacts
build/
# Ignore environment variables file
.env
.parcel-cache

# Ignore temporary files
*.tmp
*.temp
*.swp
*.swo
.DS_Store
Thumbs.db